body{
    margin: 0;
    width: 100%;
    font-family: Roboto, Arial, sans-serif;
}
.mainDivision{
    margin-left: 1%;
    margin-right: 1%;
}
.descriptionSection{
    display: flex;
    justify-content: space-between;
}
header{
	top: 0;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	align-items: center;
	background-color: rgb(35, 31, 32);
}
.newsButtonClass{
	position: relative;
}
.newsButton{
	position: fixed;
	left: 46%;
	background-color: rgb(35, 31, 32);
    color: white;
    top: 8rem;
    width: 8rem;
    height: 2rem;
    box-shadow: 0 5px 25px rgba(0,0,0,.7);
	border-radius: 0.5rem;
	border-style: solid;
}

.contentDiv{
    width: 100%;
    max-width: 12rem;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #ff4848;
    color:  #1B2354;
    margin: auto;
    padding: 0.5%;
}

.mainTitle{
    font-size: 1.8rem;
}

.subTitle{
    font-size: 0.7rem;
}
div h1{
    margin-top: 0%;
    margin-bottom: 0%;
}
.readingButton{
    border: none;
    background-color: #ff4848;
    color: w;
    color: white;
    height: 2rem;
    width: 8rem;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: white;
	background-color: rgb(35, 31, 32);
	box-shadow: 0 5px 10px rgba(0,0,0,.7);
}s
.descriptionSection{
    display: flex;
    flex-direction: row;
}
.newsImg{
    flex-grow:1;
    align-self: center;
    padding: 2%;
    width: 10rem;
    height: 10rem;
}
.newsDesc{
    margin-right: 12%; 
    margin-left: 3%;  
}
.newsTitle{
    color:  #273852;
    padding-bottom: 1%;
    font-size: 1.6rem;
}
.newsDate{
    font-size:0.7rem;
}
.newsDetail{
    font-size:0.9rem ;
}
.subDivision{
    margin-top: 2%;
    margin-right: 12%;
    margin-left: 2%;
}
@media only screen and (max-width: 375px){
    .contentDiv{
        max-width: 9rem;
        border-width: 0.2rem;
    }
    .mainTitle{
        font-size: 1.2rem;
    }
}   